<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/notes.css">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Overpass&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
  <div id="navbar">
    <a id="logo" href="/">CollegeSpace</a>
    <div id="navbar-right">
      <a href="/notes/<%=id%>">&laquo; Previous</a>
    </div>
  </div>

  <div style="margin-top:100px;font-size:30px; height:1000px; text-align:center">
    <div style="float:right; width:35%; background-color:#1c1c1d; border-left:solid 2px; position:fixed; right:0;border-color:white; height:1000px;">
      <h5 style="color: #afafaf;">ADD NOTES</h5>
      <hr/ style="width: 70%">
      <div style="padding:20px">
        <form action="/notes_year/<%=id%>/<%=year%>" method="POST" enctype="multipart/form-data">
          <label>SUBJECT</label><br>
          <input type="text" style="width:100%" name="subject"></input><br>
          <br>
          <label>MODULE NUMBERS/ DESCRIPTION</label><br>
          <input type="text" style="width:100%" name="title"></input><br>
          <br>
          <label>ADD FILE</label><br>
          <input id="avatar" type="file" name="pdf" accept="" class="Choose_File" style="width:100%"></input><br>
          <br>
          <input  style="width: 50%; height: 7vh;" type="submit"class="submitBtn"  value="POST"></input>
        </form>
      </diV>

    </div>
    <div class="left" style="height:100%">
      <h5 style="color: #afafaf;">FOR YOU</h5>
      <hr style="width:75%">
      <div style="padding:20px">
        <% for(var i=0; i < data.length; i++) { %>
        <div class=post>
          <!-- In place of image we will have to put the file from the backend and in href we have to add the link of the file-->
          <a href="/pdf/<%=data[i].path%>">
            <img src="/images/pdf.png" style="float:left; width:120px; height:120px"></img>
          </a>
          <p style="margin-left:250px;color: #afafaf; font-weight: bold; font-size: larger; text-decoration: none;"><%=data[i].subject%></p>
          <hr style="width:75%">
          <p style="margin-left:250px ;color: #afafaf; font-weight: bold; font-size: larger; text-decoration: none;"><%=data[i].title%></p>
        </div>
        <% } %>
      </div>
    </div>
  </div>

  <script>
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
      document.getElementById("navbar").style.padding = "20px 10px";
      document.getElementById("logo").style.fontSize = "25px";
    } else {
      document.getElementById("navbar").style.padding = "40px 10px";
      document.getElementById("logo").style.fontSize = "50px";
    }
  }

  function goBack() {
  window.history.back();
 }
  </script>
</body>
</html>
