<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/stylesheets/notice.css"></link>
</head>
<body>

<div id="navbar">
  <a href = "/" id="logo">College Space</a>
  <div id="navbar-right">
    <a href="/profile/<%=id%>">Profile</a>
    <a href="/posts/<%=id%>">Posts</a>
    <a class="active" href="/notices/<%=id%>">Notices</a>
    <a href="/notes/<%=id%>">Notes</a>
    <a href="/auth/logout">Logout</a>
  </div>
</div>

<div style="margin-top:100px;font-size:30px; height:1000px; text-align:center">
  <div style="float:right; width:35%; background-color:#ffffff; border-left:solid 2px; border-color:black; height:1000px;">
    <h5>ADD NOTICE</h5>
    <hr/ style="width: 70%">
    <div style="padding:20px">
      <form action="/notices/<%=id%>" method="POST" enctype="multipart/form-data">
        <label>NOTICE TITLE</label><br>
        <input type="text" style="width:100%"></input><br>
        <br>
        <label>ADD FILE</label><br>
        <input type="file" class="Choose_File" style="width:100%"></input><br>
        <br>
        <input type="submit"class="submitBtn" value="POST"></input>
      </form>
    </diV>
  </div>
  <div class="right">
    <h5>FOR YOU</h5>
    <hr style="width:75%">
    <div style="padding:10px">
      <% for(var i=0; i < data.length; i++) { %>
      <div class=post>
        <img src="/images/icon.jpg" style="float:left; width:180px; height:180px"></img>
        <p style="margin-left:250px;"><%=data[i].description%></p>
        <hr style="width:75%">
        <p style="margin-left:250px"><%=data[i].issue_date%></p>
      </div>
      <% } %>
    </div>
  </div>
</div>

<script>
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
    document.getElementById("navbar").style.padding = "20px 10px";
    document.getElementById("logo").style.fontSize = "15px";
  } else {
    document.getElementById("navbar").style.padding = "40px 10px";
    document.getElementById("logo").style.fontSize = "25px";
  }
}
</script>
</body>
</html>
